@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Stick+No+Bills:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

/* Scrollbar */
.beauty-scrollbar::-webkit-scrollbar,
.beauty-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
}

.beauty-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 6px;
}

.beauty-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(41, 41, 41, 0.2);
}

.beauty-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgba(79, 79, 79, 0.2);
}