.photos {
  width: 100%;
  height: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  width: 100%;
  height: 100%;
}

.photos img {
  width: 100%;
  height: 100%;
}

.photo2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo4 {
  grid-column-start: 1;
}

.photo3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.parent-filters {
  width: 25%;
  margin-right: 5px;
  padding: 5px 10px;
  height: 800px;
  border-radius: 10px;
}

.filtername {
  display: flex;
  align-items: center;
}

.esc {
  display: none;
  cursor: pointer;
}

.esc svg {
  fill: #000000;
}

.filters-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  /* background-color: #f34b4b; */
  width: 100%;
  height: 100%;
  margin-top: 18px;
  padding: 0 20px;
}

.filters h5 {
  font-size: 20px;
  color: var(--font-color);
  opacity: 0.6;
  /* margin-left: 20px; */
}

.brands {
  margin: 10px 0 30px;
  display: flex;
  height: 70px;
  gap: 30px;
  flex-flow: column wrap;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input:checked+.label .checkbox {
  background-color: var(--menu-hover);
}

.checkbox {
  width: 14px;
  height: 14px;
  border: 1px var(--menu-hover) solid;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.check-svg {
  width: 100%;
  height: 100%;
  fill: var(--bgc-col);
}

.input {
  cursor: pointer;
  display: none;
}

.range-slider {
  width: 200px;
  height: 5px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}

.range-selected {
  height: 100%;
  left: 10%;
  right: 20%;
  position: absolute;
  border-radius: 5px;
  background-color: #1b53c0;
}

.range-input {
  width: 200px;
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  appearance: none;
  -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #1b53c0;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 30px 0;
  width: 200px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.range-price label {
  margin-right: 5px;
}

.range-price input {
  width: 80px;
  padding: 5px;
}

.range-price input:first-of-type {
  margin-right: 15px;
}

.price {
  border: 1px solid #C3C2C8;
  border-radius: 8px;
}

.parent-phones {
  width: 75%;
  margin-left: 5px;
  border-radius: 10px;
}

.smart-head {
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-size: 40px;
  margin-left: 10px;
}

.phone-select {
  padding: 8px 9px;
  width: 178px;
  border: 1px solid #C3C2C8;
  border-radius: 8px;
  cursor: pointer;
}

.filter-price {
  display: flex;
  gap: 25px;
}

.filtr {
  padding: 8px 9px;
  border: 1px solid #C3C2C8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.smartphones {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
}

.phones {
  width: 100%;
  margin-top: 18px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 7px;
}

footer {
  padding: 0 20px;
  height: 100px;
  background-color: var(--filters-color);
}

@media(max-width:1024px) {
  .filtr {
    display: flex;
  }

  .cart,
  .comprasion,
  .login,
  .custom-select,
  .theme {
    display: none;
  }

  .burger {
    display: block;
  }

  .photo3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .parent-filters {
    position: absolute;
    top: 80px;
    background-color: var(--bgc-col);
    left: -350px;
    transition: 500ms;
  }

  .parent-filters.bacel {
    display: block;
    position: fixed;
    width: 300px;
    height: 100%;
    transform: translateX(350px);
    transition: 500ms;
  }

  .esc {
    display: block;
  }

  .parent-phones {
    width: 100%;
  }
}

.card-parent {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bgc-card);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
}

.img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about {
  /* flex: 1; */
  margin-bottom: 30px;
}

.about h5 {
  margin: 15px 0;
  font-size: 16px;
}

.img img {
  width: 75%;
  /* width: 100px; */
}

.rating {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy p {
  font-size: 16px;
  font-weight: 700;
}

.buy-cart {
  padding: 6px 15px;
  background: #27187E;
  border-radius: 9px;
  cursor: pointer;
}

.compare {
  cursor: pointer;
}